{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table>
        <tr>
            <td>user_id</td>
            <td>stock_name</td>
            <td>stock_price</td>
            <td>no of shares</td>
        </tr>
        <tr>
            <td>{{user_id}}</td>
            <td>{{stock_name}}</td>
            <td>{{stock_price}}</td>
            <td>{{shares}}</td>
            <td>{{total_cost}}</td>
            <td>{{current_cash}}</td>
        </tr>
    </table>
{% endblock %}