{% extends "layout.html" %}

{% block title %}
    Buying the stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Enter symbol" type="symbol">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Input no of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">confirm buy</button>
    </form>

    {% if stock %}
    <h2>Bought successfully</h2>
    <p>Details of the bought stock are:-
        <ul>
            <li><b>stock symbol: </b><i>{{stock.symbol}}</i></li>
            <li><b>stock name: </b><i>{{stock.name}}</i></li>
            <li><b>stock price: </b><i>{{stock.price}}</i></li>
            <li><b>Total cost: </b><i>${{total_cost}}</i></li>
        </ul>
    </p>
    {% endif %}
{% endblock %}
