{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <table>
        <tr>
            <td>symbol</td>
            <td>price</td>
            <td>shares</td>
            <td>Date and time</td>
            <td>status</td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{row.stock_symbol}}</td>
            <td>{{row.price}}</td>
            <td>{{row.shares}}</td>
            <td>{{row.time}}</td>
            <td>{{row.status}}</td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
